@use "@/mixins/app";

.background {
  position: absolute;
  z-index: -1;
  top: -64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.variant-mild-fancy .background,
.variant-full-fancy .background {
  &-liane {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: calc(100% + 64px);
    z-index: -1;

    @include app.media-below(app.$viewport-tablet) {
      width: 240px;
    }

    @include app.media-below(app.$viewport-mobile) {
      right: -120px;
    }
  }

  @keyframes blob1 {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(25deg);
    }
  }

  &-blob1 {
    position: absolute;
    bottom: -20px;
    left: -180px;
    width: 450px;
    height: 516px;
    animation: blob1 .5s;
    transform: rotate(25deg);
    transform-origin: center;
    background: url('/assets/background/bg-1.svg') no-repeat top left / 100%;
    z-index: -1;

    @include app.media-below(app.$viewport-laptop) {
      bottom: -120px;
    }

    @include app.media-below(app.$viewport-tablet) {
      width: 360px;
      height: 412px;
      left: -130px;
    }

    @include app.media-below(app.$viewport-mobile) {
      left: -230px;
    }
  }

  @keyframes blob2 {
    0% {
      transform: translateY(-70px) rotate(-60deg);
    }
    100% {
      transform: rotate(-50deg);
    }
  }

  &-blob2 {
    position: absolute;
    bottom: 460px;
    left: 150px;
    width: 125px;
    height: 210px;
    animation: blob2 .5s;
    transform: rotate(-50deg);
    transform-origin: center;
    background: url('/assets/background/bg-2.svg') no-repeat top left / 100%;
    z-index: -1;

    @include app.media-below(app.$viewport-laptop) {
      bottom: 340px;
    }

    @include app.media-below(app.$viewport-tablet) {
      width: 100px;
      height: 168px;
      bottom: 248px;
    }

    @include app.media-below(app.$viewport-mobile) {
      display: none;
    }
  }
}

.variant-mild-fancy .background {
  &-liane {
    display: none;
  }

  &-blob1,
  &-blob2 {
    animation: none;
  }
}
