@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700;900&displayswap');

@font-face {
  font-family: 'Axiforma';
  src: url('/assets/fonts/Axiforma-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Axiforma';
  src: url('/assets/fonts/Axiforma-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
