.offers-input {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  gap: 8px;
  padding: 4px 16px 8px;
  border: 2px solid transparent;
  transition: border-color 0.1s;
  background: #1e3c43;
  position: relative;

  &-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column;
    gap: 2px;
  }

  &-label {
    font-family: 'Roboto', sans-serif;
    color: #7bafb8;
    font-size: 14px;
  }

  input {
    border-radius: inherit;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
    font-size: 18px;
    color: inherit;
    background: transparent;

    &::placeholder {
      color: rgba(255, 255, 255, 0.75);
    }
  }

  &:has(input:focus) {
    border-color: #00BF58;
  }
}
