.layout {
  $nav-height: 64px;
  position: relative;
  z-index: 0;
  padding-top: $nav-height;

  &-nav {
    height: $nav-height;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
  }

  &-content {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    min-height: calc(100vh - #{$nav-height});

    > * {
      flex: 1;
    }
  }
}
