.page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 64px;
  position: relative;
  z-index: 0;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  @keyframes appear {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: none;
    }
  }

  .image {
    width: 200px;
    height: 140px;
    margin-bottom: 32px;
    animation: appear .5s;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h1 {
    font-size: 36px;
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
  }

  a {
    margin-top: 24px;
  }

  .buttons-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
