.page {
  display: flex;
  align-items: center;
  padding: 164px 0 64px;
  justify-content: center;
  position: relative;
  z-index: 0;

  > :global(.container) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-inner {
    text-align: center;

    h1 {
      font-size: 64px;
      line-height: 1.25;
      margin-bottom: 12px;
    }

    p {
      font-size: 18px;
      text-align: center;
      line-height: 1.5;
      margin-bottom: 32px;
      max-width: 560px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .buttons-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

@keyframes screenshot-appear {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.screenshot {
  animation: screenshot-appear .5s .25s;
  animation-fill-mode: both;
  display: flex;
  padding: 16px;
  border-radius: 16px;
  width: 1024px;
  margin-top: 100px;
  background: #12282c;
  position: relative;
  box-shadow: 0 12px 42px rgba(0, 0, 0, 0.2);

  img {
    width: 100%;
    height: auto;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    background: linear-gradient(180deg, rgba(11, 23, 25, 0) 0%, #0b1719 100%);
  }
}
