.pretty-button {
  font-family: 'Roboto', sans-serif;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 36px;
  font-size: 16px;
  background: #00df81;
  text-decoration: none;
  transition: background .2s;
  color: #032221;
  vertical-align: -2px;

  &:hover {
    background: #00be70;
  }

  :global(.pretty-button-icon) {
    display: inline-flex;
    padding: 2px;
    background: #fff;
    border-radius: 50%;
    transition: transform .2s;

    &:global(.prefix) {
      margin-left: -4px;
    }

    &:global(.postfix) {
      margin-right: -4px;
    }
  }

  &:hover :global(.pretty-button-icon) {
    transform: scale(1.1);
  }

  &.variant-secondary {
    color: #fff;
    background: #1e3c43;

    :global(.pretty-button-icon) {
      color: #032221;
    }

    &:hover {
      background: #12282c;
    }
  }

  &.size-large {
    padding: 16px 24px;
    font-size: 18px;
  }
}
