.liane {
  svg {
    width: 100%;
  }

  @keyframes liane-appear {
    0% {
      stroke-dasharray: 0 var(--len);
    }
    100% {
      stroke-dasharray: var(--len) var(--len);
    }
  }

  &-p1 {
    animation: liane-appear 3s ease;
  }

  &-p2 {
    animation: liane-appear .5s ease;
  }

  &-p3 {
    animation: liane-appear 1s ease;
  }

  &-p4 {
    animation: liane-appear 1.25s ease;
  }

  &-p5 {
    animation: liane-appear .75s ease;
  }
}
